<ScrollView sdkExampleTitle sdkToggleNavButton>

    <GridLayout class="page" rows="auto auto auto auto auto auto auto auto auto " columns="*, 2*">
         <Label class="p-15" row="0" col="0" textWrap="true" text="Host"></Label>
         <Label class="p-15" row="1" col="0" textWrap="true" text="Host"></Label>
         <Label class="p-15" row="2" col="0" textWrap="true" text="Host"></Label>
         <Label class="p-15" row="3" col="0" textWrap="true" text="Host"></Label>

        <Label class="p-15" row="0" col="1" textWrap="true" [text]="host"></Label>
        <Label class="p-15" row="1" col="1" textWrap="true" [text]="userAgent"></Label>
        <Label class="p-15" row="2" col="1" textWrap="true" [text]="origin"></Label>
        <Label class="p-15" row="3" col="1" textWrap="true" [text]="url"></Label>
    </GridLayout>
</ScrollView>
