<StackLayout class="form" sdkExampleTitle sdkToggleNavButton>
    <Label>
        <FormattedString>
            <Span text="Words " color="#006600" ></Span>
            <Span text="with " color="#990000" fontAttributes="Bold"></Span>
            <Span text="different " color="#ffcc00"></Span>
            <Span text="color."></Span>
        </FormattedString>
    </Label>
    <Button>
        <FormattedString>
            <Span text="Formatted "></Span>
            <Span text="String " ></Span>
            <Span text="Button" backgroundColor="#0066ff"></Span>
        </FormattedString>
    </Button>
    <TextView>
        <FormattedString>
            <Span text="Formatted " fontSize="16"></Span>
            <Span text="String " fontSize="18"></Span>
            <Span text="TextField" fontSize="22"></Span>

        </FormattedString>
    </TextView>
    <TextField class="h3 p-15 m-15 text-left input input-border">
        <FormattedString>
            <Span text="Formatted " fontSize="16"></Span>
            <Span text="String " fontSize="18"></Span>
            <Span text="TextField" fontSize="22"></Span>
        </FormattedString>
    </TextField>
</StackLayout>
