<StackLayout (loaded)="onLoaded($event)">
    <Image src="res://logo_white_bg" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
    <Image src="~/images/logo.png" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
    <Image src="https://docs.nativescript.org/img/cli-getting-started/angular/chapter0/NativeScript_logo.png" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>

    <Image [src]="myImageSource" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
</StackLayout>
