body {
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px ;
    align-content: center;
    color: black;
    
}

.firsCalss {
    margin: 5px 10px;
    color: black;
}