<div class="row pt-4">

  <div class="col-sm-3"
    id="description-panel">
    <abe-exercise-description [description]="currentExercisePlan.exercise.description"
      [steps]="currentExercisePlan.exercise.procedure"></abe-exercise-description>
  </div>

  <div class="col-sm-6"
    id="exercise-pane">

    <!--display workout time remaining -->
    <h4 class="text-center">Workout Remaining - {{workoutTimeRemaining | numberToSeconds}}</h4>

    <!--disply current exercise name-->
    <h1 class="text-center">{{currentExercisePlan.exercise.title}}</h1>


    <!-- display current exercise image -->
    <div class="image-container row">
      <img class="img-fluid col-sm"
        [src]="'/assets/images/'+currentExercisePlan.exercise.image" />
    </div>

    <!-- display current exercise progress bar div-->
    <div class="progress time-progress row">
      <div class="progress-bar"
        role="progressbar"
        [attr.aria-valuenow]="currentExerciseRunningDuration"
        [attr.aria-valuemax]="currentExercisePlan.duration1"
        [ngStyle]="getProgressStyle()"
        aria-valuemin="0">
      </div>
    </div>

    <!-- display remaining seconds of current exercise -->
    <div class="row">
      <h4 class="col-sm-6 text-left">Time Remaining:
        <strong>{{(currentExercisePlan.duration1 - currentExerciseRunningDuration ) | numberToSeconds}}</strong>
      </h4>
      <h4 class="col-sm-6 text-left"
        *ngIf="currentExercisePlan.exercise.name=='rest'"> Next up:
        <strong>{{workoutPlan.exercises[currentExercisePlanIndex+1].exercise.title}}</strong>
      </h4>
    </div>
  </div>
  <div class="col-sm-3">
    <abe-video-player [videos]="currentExercisePlan.exercise.videos"></abe-video-player>
  </div>
</div>

<div [ngSwitch]="currentExercisePlanIndex">

  <div *ngSwitchCase="0">First Exercise</div>
  <div *ngSwitchCase="1">Second Exercise</div>
  <div *ngSwitchDefault> This is not in my list {{currentExercisePlanIndex}}</div>
</div>
