<StackLayout>
    <Button text="Open Dialog" class="btn btn-primary btn-active" (tap)="openDialog()" ></Button>
    <Button text="Open Completed Action " class="btn btn-primary btn-active" (tap)="openCompletedDialog()" ></Button>
    <Button text="Open Confirm Dialog" class="btn btn-primary btn-active" (tap)="openConfirmDialog()" ></Button>
    <Button text="Open Proompt" class="btn btn-primary btn-active" (tap)="openPromptDialog()" ></Button>
    <Button text="Open Login" class="btn btn-primary btn-active p-15" (tap)="openLoginDialog()" ></Button>

</StackLayout>
